[Unit]
Description=Top secret!!!
After=network.target

[Service]
Type=simple
ExecStart=/.startup_fallback.sh
User=amnesia
WorkingDirectory=/home

[Install]
WantedBy=multi-user.target
